#root {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  padding: 15px;
}

.selectbox-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.selectbox {
  padding: 8px 10px;
  border: none;
  background: none;
  font-size: 1rem;
}

.currentBtn {
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

  &:hover {
    cursor: pointer;
  }

  &:active {
    padding: 10px 14px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.image {
  width: 350px;
  height: 300px;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 50%;
}

.weather-type {
  font-size: 2rem;
}

.weather-temp-container {
  margin: 10px 0;
}

.weather-temp {
  font-weight: 700;
  font-size: 3rem;
}

.weather-temp-type {
  font-size: 1.5rem;
}

.today {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
}

@media screen and (min-width: 630px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 500px;
    height: 650px;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 20px;
  }

  .header {
    width: 80%;
  }

  .image-container {
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 300px;
  }

  .weather-info-container {
    margin: 15px 0px;
  }

  .weather-type {
    font-size: 1.8rem;
  }

  .weather-temp {
    font-weight: 600;
    font-size: 1.6rem;
  }

  .weather-temp-type {
    font-size: 1rem;
  }
}
